*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.query{
    height: 100px;
    width: 200px;
    margin: 20px 0px 0px 20px;
    background-color: lightgrey;
}
h4 {
    display: inline-block;
}
input {

}