*{
    margin: 0px;
    padding: 0px;

}
#wrapper{
    background-color: #173160;
    height: 950px;
    width: 950px;
    padding: 20px;
}
#header{
    background-color: #dd0023;
    height: 70px;
    border-radius: 10px;
    margin: 0px auto;
}
#header h1{
    padding: 15px;
    color: white;
}
#navigation{
    background-color: #007f8e;
    height: 250px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    margin: 15px 0px;
}
#body{
    background-color: #0c1723;
    width: 781px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    margin: 15px 0px 15px 15px;
}
#footer{
    background-color: #5c6574;
    height: 50px;
    border-radius: 10px;
}
.padding{
    padding: 15px;
}
ul{
    padding: 0px 0px 0px 15px;
}